<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>zsamo about</h1>
    <button onclick="onbuttonclick()">zsa</button>
  </body>
  <script>
    function onbuttonclick() {
      const dataa = {};

      fetch("/zdssa", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(response => response.json())
        .then(data => (dataa = data));
    }

    fetch("/zsa", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(dataa)
    })
      .then(response => response.json())
      .then(data => console.log(data));
  </script>
</html>
