<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cut.css">
    <link rel="stylesheet" href="/css/curup.css">
</head>
<body>
    <h1>Válaszd ki a feltöltési csomagodat!</h1>
    <div class="flex">
        <div>
            <span>A kezdés</span>
            <span>10000</span>
        </div>
    </div>
</body>
</html>