<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servus Bet</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  <link rel="stylesheet" href="/css/cut.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" href="img/favicon.png" type="image/png">

</head>
<body class="loginbody">
<div class="container">
	<div class="userinfo login">

    <h2>Bel茅p茅s</h2>
		<input type="text" required placeholder="felhaszn谩l贸n茅v">
    <button  onmousedown="revealPass()" onmouseup="hidePass()" onmouseout="hidePass()"><i class="fa-solid fa-eye"></i></button>
    <input type="password" required placeholder="jelsz贸">
    <a onclick="forgotPasswordToggle()">Elfelejtette jelszav谩t?</a>
    <div>
      <a onclick="loginSignupToggle()">Nincs m茅g fi贸kja?</a>
      <button onclick="login()">Bel茅p茅s</button>
    </div>

	</div>

	<div class="userinfo signup">

    <h2>Regisztr谩ci贸</h2>
		<input type="text" required placeholder="felhaszn谩l贸n茅v">
		<input type="email" required placeholder="email">
		<input type="password" required placeholder="jelsz贸">
    <div>
      <a onclick="loginSignupToggle()">Van m谩r fi贸kja?</a>
      <button onclick="signup()">Regisztr谩ci贸</button>
    </div>

	</div>

  <div class="userinfo forgotpass">

    <h2>Tal谩ld meg a Fi贸kodat</h2>
    <span>rd be az email c铆med, hogy megtal谩ljuk a fi贸kodat</span>
		<input type="email" required placeholder="email">
    <div>
      <button onclick="forgotPassword()">K贸d k眉ld茅se</button>
    </div>

  </div>
  
  <div class="userinfo codein">

    <h2>Tal谩ld meg a Fi贸kodat</h2>
    <span>Add meg az emailban kapott k贸dot</span>
		<input type="text" required placeholder="k贸d">
    <div>
      <button onclick="forgotPasswordOK()">OK</button>
    </div>

  </div>

</div>
</body>
<script src="https://kit.fontawesome.com/f359bbbf40.js" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</html>

<!--

TODO:

  - light theme dropdown border color
  - slotmachine info popup
  - user profile customisation after register -> e.g. user upload image
  - user settings page  - nem kell, csinalja meg a halal + folosleges, csak ha gecire van idom
  - topbar on all pages 锔
  - website theme (dark, light) 锔
  - slotmachine be 锔
  - change game pages on mainpage 锔

-->