<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servus Bet</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" href="img/favicon.png" type="image/png">

</head>
<body class="loginbody">
<div class="container">
	<div class="userinfo login">
    <h2>Belépés</h2>
		<input type="text" required placeholder="felhasználónév">
		<input type="password" required placeholder="jelszó">
    <a onclick="forgotPasswordToggle()">Elfelejtette jelszavát?</a>
    <div>
      <a onclick="loginSignupToggle()">Nincs még fiókja?</a>
      <button onclick="login()">Belépés</button>
    </div>

	</div>

	<div class="userinfo signup">
    <h2>Regisztráció</h2>
		<input type="text" required placeholder="felhasználónév">
		<input type="email" required placeholder="email">
		<input type="password" required placeholder="jelszó">
    <div>
      <a onclick="loginSignupToggle()">Van már fiókja?</a>
      <button onclick="signup()">Regisztráció</button>
    </div>
	</div>

  <div class="userinfo forgotpass">
    <h2>Találd meg a Fiókodat</h2>
    <span>Írd be az email címed, hogy megtaláljuk a fiókodat</span>
		<input type="email" required placeholder="email">
    <div>
      <button onclick="forgotPassword()">Kód küldése</button>
    </div>
  </div>
  
  <div class="userinfo codein">
    <h2>Találd meg a Fiókodat</h2>
    <span>Add meg az emailban kapott kódot</span>
		<input type="text" required placeholder="kód">
    <div>
      <button onclick="forgotPasswordOK()">OK</button>
    </div>
  </div>

</div>
</body>
<script src="js/main.js"></script> 
</html>

<!--

TODO:

  - slotmachine BE
  - website theme (dark, light)

-->