<!DOCTYPE html>
<html lang="hu" class="index">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Morph Könyvek</title>
	<link rel="stylesheet" href="css/styles.css">
	
</head>
<body>
	<div class="container">
		<div class="loginform">
			<input type="text" required placeholder="Felhasználónév">
			<input type="password" required placeholder="Jelszó">
			<button onclick="login()">Bejelentkezés</button>
			<button onclick="loginSignupToggle()">Nincs még fiókja?</button>
		</div>
		<div class="signupform">
			<input type="text" required placeholder="Felhasználónév">
			<input type="email" required placeholder="Email">
			<input type="password" required placeholder="Jelszó">
			<button onclick="signup()">Regisztráció</button>
			<button onclick="loginSignupToggle()">Van már fiókja?</button>
		</div>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
<script src="js/main.js"></script> 
</html>