<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="e"></div>
    <button onclick="logout()">s</button>
  </body>
  <script>
    function logout()
    {
      sessionStorage.setItem("username", "")
      location.href = "/servusbet"
    }
    window.onload = () =>
    {
      if (sessionStorage.getItem("username") != "" && sessionStorage.getItem("username") != null)
      {
        document.querySelector('.e').innerHTML = sessionStorage.getItem("username")
      }
      else
      {
        location.href = "/"
      }
    }
  </script>
</html>
