<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servus Bet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap">
    <link rel="stylesheet" href="/css/cut.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  </head>
  <body>
<div class="gridcont">
  <div class="item item-1">
      <h1>Servus Bet</h1>
  </div>

  <div class="item item-2">
      <!-- Bootstrap -->
      

      <div class="btn-group">
        <button class="ddbtn cont" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <img src="/img/userAvatar.png" alt="">
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li class="accountdetail">
            <img src="/img/userAvatar.png" alt="">
            <div>
              <span></span>
              <span></span>
            </div>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li><span class="dropdown-item"><i class="fa-solid fa-user"></i><a>Fiók</a></span></li>
          <li>
            <div class="dropstart dropdown-item">
              <button class="ddbtn" type="button" data-bs-toggle="dropdown" data-bs-offset="0, 9" aria-expanded="false">
                <i class="fa-solid fa-cloud-moon"></i><a style="color: var(--bs-dropdown-link-color)">Téma</a>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><span class="dropdown-item" onclick="themeChange(this)"><i class="fa-solid fa-cloud-moon"></i><a>Sötét</a><i class="fa-solid fa-check"></i></span></li>
                <li><span class="dropdown-item" onclick="themeChange(this)"><i class="fa-solid fa-sun"></i><a>Világos</a></span></li>
                <li><span class="dropdown-item" onclick="themeChange(this)"><i class="fa-solid fa-gears"></i><a>Auto</a></span></li>
              </ul>
            </div>
        </li>
          <li><span class="dropdown-item"><a>Sötét</a></span></li>
        </ul>
      </div>
  </div>

  <div class="item item-3">
    <a class="active">Nyerőgép</a>
    <a>Blackjack</a>
    <a>Roulette</a>
    <a>Kockajáték</a>
  </div>

<!-- Bootstrap -->
  <div class="item item-4">

    <div class="slotmachine-page page-active">
      <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/slot/slot1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/slot/slot2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/slot/slot3.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/slot/slot4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/slot/slot5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/slot/slot6.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <div class="parahhh">
        <p>Az első nyerőgép a 19. században készült el és Charles Fey nevéhez fűződik. Az úriember Németországban élt, majd gondolt egy nagyot és a lehetőségek hazájába, Amerikába költözött. Charles Fey aztán itt, pontosabban Kaliforniában alkotta meg az első nyerőgépet, 1895-ben. Az első nyerőgép a háromtárcsás volt, majd a 20. század közepén kerültek először szimbólumok a nyerőgépekre. Majd elérkezünk a nyerőgépek harmadik fejlődési szakaszához, amit a ma embere is élvezhet, azaz az internet segítségével, a számítógépen is elérhető online nyerőgépes játékokhoz.</p>
      </div>

      <button class="btn btn-secondary playbtn" onclick="game('slot')">Játék!</button>
    </div>

    <div class="blackjack-page">
      <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/blackjack/blackjack2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/blackjack/blackjack3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/blackjack/blackjack4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/blackjack/blackjack5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/blackjack/blackjack6.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <div class="parahhh">
        <p>A BlackJack egy kártyajáték, melyet 52 lapos francia kártyával játszanak dzsókerek nélkül. A játék célja, hogy a játékos lapjai összértéke minél közelebb legyen a huszonegyhez, de azt ne lépje túl. Elődjének a „huszonegy” és a „pontoon” játékok tekinthetők. Kezdetben főleg Franciaországban, Olaszországban és Spanyolországban játszották, Amerikában csak akkor vált népszerűvé, amikor kidolgoztak egy extra nyereményt. Ez volt a Black Jack, amelyet egy pikk ász és egy fekete bubi kombinációjával lehetett létrehozni, és 10:1 arányban fizetett.</p>
      </div>
      <button class="btn btn-secondary playbtn" onclick="game('slot')">Játék!</button>
    </div>

      <div class="roulette-page">
        <div class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/roulette/roulette1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/roulette/roulette2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/roulette/roulette3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/roulette/roulette4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/roulette/roulette5.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
        <div class="parahhh">
          <p>A rulett egy főleg kaszinókban és játéktermekben elterjedt szerencsejáték. Neve a francia roulette, azaz kis kerék kifejezésből ered. Története egészen az ókorig vezethető vissza, de pontos eredetére több elmélet is létezik, azonban ezek egyike sem bizonyított. A játék lényege, hogy a játékvezető (krupié) által, a tárcsa forgási irányával ellentétesen elgurított golyónak a megérkezési pozíciójára lehet fogadni. Minden boxhoz szám és szín tartozik, ezek különböző kombinációjára lehet tétet helyezni. A tétek az eséllyel közel arányos nyereményekkel kecsegtetik a játékosokat.</p>
        </div>
    
        <button class="btn btn-secondary playbtn" onclick="game('slot')">Játék!</button>
      </div>

      <div class="dice-page">
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/dice/dice1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/dice/dice2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/dice/dice3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/dice/dice4.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/dice/dice5.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
        </div>
        <div class="parahhh">
          <p>Az ókori Európában közkedvelt jóslási forma és szerencsejáték volt a kockavetés. Ezt két kockával, egy pohár segítségével játszották, és az eredményre fogadást kötöttek, vagy misztikus jelentést tulajdonítottak neki. Ebből alakult ki a napjainkban a kaszinókban játszott kockajáték és a kockapóker, a póker egyszerűbb változata.</p>
        </div>
          <button class="btn btn-secondary playbtn" onclick="game('slot')">Játék!</button>
      </div>
  </div>
</div>

<div class="center" hidden>
  <div class="under18">
    <span>18 év alatt az oldal használata tilos</span>
    <p>(5b) a 16. § szerinti nem folyamatosan szervezett sorsolásos játék kivételével - 18 éven aluli személyek nem vehetnek részt. A szerencsejáték-szervezőnek a játékosok részére a szerencsejátékban való részvétel biztosítása során az e törvényben és külön jogszabályban meghatározottak szerint figyelemfelkeltő módon tájékoztatást kell nyújtania a 18 éven aluli személyek játéktilalmáról, és a felelős játékszervezés elvének megfelelően el kell végeznie az e törvényben és külön jogszabályban előírt vagy az önkéntesen vállalt, a 18 éven aluli személyek játéktilalmának biztosítását szolgáló intézkedéseket. <br>(11) A játékkaszinót 18 éven aluliak nem látogathatják. <br>(4) Játékosként kizárólag természetes személy vehető nyilvántartásba. Ha a játékos életkora nem állapítható meg, vagy a 18. életév betöltése egyébként kétséges, a szervező a játékos nyilvántartásba vételét megtagadja.</p>
  </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f359bbbf40.js" crossorigin="anonymous"></script>
<script>

function logout()
{
  sessionStorage.setItem("username", "")
  location.href = "/"
}

window.onload = () =>
{
  if (sessionStorage.getItem("username") != "" && sessionStorage.getItem("username") != null)
  {
    document.querySelector('.accountdetail').children[1].children[0].innerHTML = sessionStorage.getItem('username')
    document.querySelector('.accountdetail').children[1].children[1].innerHTML = '@' + sessionStorage.getItem('emailadress').split('@')[0]
  }
  else
  {
    //location.href = "/"
  }
  setTimeout(() => {
    document.querySelector('.under18').style.opacity = '0'
    setTimeout(() => {
      document.querySelector('.under18').style.display = 'none'
    }, 500);
  }, 3000);
}

function themeChange(btn)
{
  var r = document.querySelector(':root')
  // change where the check icon is
    document.querySelector('.fa-check').remove()
    var i = document.createElement('i')
    i.classList.add('fa-solid')
    i.classList.add('fa-check')
    btn.appendChild(i)
  
  if (btn.children[1].innerHTML == "Világos")
  {
    light()
  }
  else if (btn.children[1].innerHTML == "Sötét")
  {
    dark()
  }
  else
  {
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) 
    {
      dark()
    }
    else if (window.matchMedia)
    {
      light()
    }
  }

  function dark()
  {
    r.style.setProperty('--bgcolor', 'rgba(25, 31, 35, 1)');
    r.style.setProperty('--fontcolor', 'white');
    r.style.setProperty('--dropdown-iconcolor', '#9d9d9d');
    r.style.setProperty('--hovercolor', 'rgb(34, 41, 46)');
    document.querySelectorAll('.dropdown-menu').forEach(e => e.classList.add('dropdown-menu-dark'))
  }

  function light()
  {
    r.style.setProperty('--bgcolor', 'rgb(211, 211, 211)');
    r.style.setProperty('--fontcolor', 'black');
    r.style.setProperty('--dropdown-iconcolor', '#5f5f5f');
    r.style.setProperty('--hovercolor', 'rgb(192, 192, 192)');
    document.querySelectorAll('.dropdown-menu').forEach(e => e.classList.remove('dropdown-menu-dark'))
  }
}


document.querySelectorAll('.item-3 > a').forEach(btn => {
  btn.addEventListener('click', () =>
  {
    // bg color change
      document.querySelector('.active').classList.remove('active')
      btn.classList.add('active')
      document.querySelector('.page-active').classList.remove('page-active')
      
      if (btn.innerHTML == "Nyerőgép") document.querySelector('.slotmachine-page').classList.add('page-active')
      else if (btn.innerHTML == "Blackjack") document.querySelector('.blackjack-page').classList.add('page-active')
      else if (btn.innerHTML == "Roulette") document.querySelector('.roulette-page').classList.add('page-active')
      else if (btn.innerHTML == "Kockajáték") document.querySelector('.dice-page').classList.add('page-active')
    })
})

function game(gameName)
{
  if (gameName == 'slot')
  {
    location.href = '/games/slotmachine'
  }
}
</script>
</html>
