html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--bgcolor);
  font-family: "Asap", sans-serif;
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.gridcont {
  display: grid;
  height: 100vh;

  grid-template-rows: 1fr 8fr;
  grid-template-areas:
    "topbar"
    "main";
}

.item-2 {
  border-bottom: 1px solid var(--bordercolor);
}

.appcont
{
  grid-area: main;
  display: flex;
  justify-content: center;
}

.app {
  
  width: 600px;
  height: 600px;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.n{
  height: 75px;
  width: 50px;
}

.marker {
  position: relative;
  top: 50px;
  width: 60px;
  z-index: 2;
}

.wheel {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.button, .opn {
  display: block;
  width: 300px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-size: large;
  background: #918989;
  color: whitesmoke;
}

.opn {
  margin-top: 30px;
}

.blur {
  animation: blur 10s;
}

.rainbow{
  animation: coolor 10s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 300px;
  border: none;
  padding: 10px 10px;
  margin: 30px;
}

.black {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color:white;
  text-align: center;
  border-radius: 5px;
}

.red {
  background-color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color:white;
  text-align: center;
  border-radius: 5px;
}

.green {
  background-color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color:white;
  text-align: center;
  border-radius: 5px;
}

.none {
  display: none;
}

section .popup-outer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  z-index: 3;
}

section.show .popup-outer {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

section .popup-box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 60%;
  height: 600px;
  background: rgb(206, 202, 202);
  border-radius: 8px;
}

.popup-box .close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  color: #b4b4b4;
  cursor: pointer;
  transition: all 0.2s ease;
}

.popup-box .close:hover {
  color: #333;
}

.popup-box > img 
{
  border-radius: 20px;
  height: 100%;
}

.popup-box > div:first-of-type
{
  position: absolute;
  width: 170px;
  user-select: none;
  top: 440px;
  left: 75%;
}

.chip
{
  position: absolute;
  user-select: none;
  top: 600px;
  left: 65%;
  width: 80px;
  transition: all 1s;
  z-index: 5;
}

.chip > img
{
  width: 80px;
}

.popup-box > div > img,
.chip > img
{
  width: inherit;
}

.popup-box > div > span
{
  position: absolute;
  text-align: center;
  width: 100px;
  top: 42%;
  left: 18%;
  font-size: large;
  color: whitesmoke;
}

@keyframes blur {
  0% {
    filter: blur(0.5px);
  }
  50%{
    filter: blur(2px);
  }
  80% {
    filter: blur(1.5px);
  }
  95% {
    filter: blur(0px);
  }
}