:root
{
  --bgcolor: rgba(25, 31, 35, 1);
  --fontcolor: white;
  --dropdown-iconcolor: #9d9d9d;
  --hovercolor: rgb(34, 41, 46);/*rgb(192,192,192);*/
  --bordercolor: #42602f;/*rgb(105, 105, 105);*/
  /*bootstrap*/
  --bs-dropdown-link-active-bg: black;
}

* 
{
  box-sizing: border-box;
}

body {
  background-color: var(--bgcolor);
  font-family: "Asap", sans-serif;
  color: var(--fontcolor);
    
  margin: 0;
  overflow: hidden;
}

.login {
  display: block;
}

.loginbody
{
  color: black;
}

.signup,
.forgotpass,
.codein 
{
  display: none;
}

.container,
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center
{
  color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bgcolor);
}

.under18
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  row-gap: 50px;
  transition: opacity 500ms;
}

.under18 > span:first-child
{
  font-size: 30px;
}

.userinfo {
  position: relative;
  overflow: hidden;
  background-color: whitesmoke;
  padding: 10px 30px 20px 30px;
  border-radius: 10px;
  position: absolute;
  width: 450px;
  user-select: none;
}

.userinfo > h2
{
  text-align: center;
}

.userinfo > input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}

.userinfo > a
{
  font-size: 14px;
}

.userinfo > div > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: none;
  width: 100%;
  border: 0;
  padding: 13px 0;

  border-radius: 7px;
  background-color: rgb(35, 43, 48);
  transition: background-color 300ms;
}

.userinfo > div > button:hover {
  background-color: rgba(45, 51, 55, 1);
}

.userinfo div a
{
  color: rgba(25, 31, 35, 1);
  text-decoration: none;
  cursor: pointer;
  width: 130px;
  white-space: nowrap;
}

a:hover
{
  text-decoration: underline;
}

.userinfo > div
{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 45%;
}

.forgotpass > span
{
  font-size: 16px;
  color: rgba(25, 31, 35, 1);
}

.login > div
{
  margin-top: 20px;
}

/*main page*/

.gridcont {
  display: grid;
  height: 100vh;

  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  'oldal-cim felhasznaloi-adat'
  'jatek-felsorolas main';
}

.item-1 {
  grid-area: oldal-cim;
    
  justify-self: center;
  align-self: center;
}

/* theme change */

.ddbtn
{
  position: relative;
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 0;
}

.cont 
{
  right: 40px;
}

.dropdown-divider
{
  border-top: 1px solid rgb(133, 133, 133);
}

.dropdown-item i
{
  width: 20px;
  color: var(--dropdown-iconcolor);
  text-align: center;
}

.dropdown-item
{
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
}

button.ddbtn a 
{
  margin-left: 20px;
  color: var(--fontcolor);
}

.ddbtn i
{
  color: var(--dropdown-iconcolor);
}

.ddbtn img 
{
  height: 40px;
}

.dropdown-menu
{
  width: 250px;
  border: 1px solid rgb(85, 85, 85);
}

.accountdetail
{
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.item-2 {

  grid-area: felhasznaloi-adat;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 10px;
}

.item-3 {
  grid-area: jatek-felsorolas;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.item-3 a{
  font-family: 'Asap', sans-serif;
  width: 100%;
  height: 120px;

  text-decoration: none;
  border-top: 1px solid var(--bordercolor);

  display: flex;
  justify-content: center;
  align-items: center;
    
  background-color: var(--bgcolor);
  outline: none;
  color: var(--fontcolor);
  cursor: pointer;
  transition: background 250ms;
}

.item-3 a:nth-child(5){
  border-bottom: 1px solid var(--bordercolor);
}

.item-3 a:hover {
  background-color: var(--hovercolor);
}

.item-3 a.active
{
  background: var(--hovercolor);
}

.item-4 {
  grid-area: main;
  justify-self: center;
  align-self: center;
    
  width: 100%;
  height: 100%;

  border-top: 1px solid var(--bordercolor);
  border-left: 1px solid var(--bordercolor);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel
{
  border: 2px solid rgb(194, 190, 190);
  width: 50%;
  height: 400px;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 2%;
}

.parahhh
{
  width: 70%;
}

.carousel-item img
{
  display: block;
  object-fit: cover;
  height: 400px;
}

.item-4 > button 
{
  width: 40%;
  height: 10%;
  margin-top: 40px;
}

.playbtn
{
  background: rgb(128, 128, 128);
  color: var(--fontcolor);
  font-size: 30px;
}