@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap');

body
{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    background: #fafcff;
    overflow-y: scroll;
}

.menu
{
    position: fixed;
    height: 100vh;
    width: 200px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 1;
}

.hidden
{
    display: none;
}

.menu a
{
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding-left: 40px;
    padding-top: 10px;
    cursor: pointer;
    transition: all 150ms;
    z-index: 2;
}

.menu a:hover
{
    color: gray;
}

.menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-11px, -10px);
    background: #232323;
}

.menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(-9px, 10px);
}

nav
{
    height: 0;
}

.menuToggle
{
    display: none;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 2;
    user-select: none;
}

.menuToggle input
{
    display: none;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
}

.menuToggle span
{
    display: none;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.2s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.headerContainer
{
    position: absolute;
    top: 0; right: 0; bottom: 0;left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.headerContainer > div > h1,
.headerContainer > div > h6
{
    margin: 0;
}

.headerContainer > div > img
{
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
}

.uploadPage
{
    height: 100vh;
    display: grid;
    place-items: center;
}

.uploadPage > button
{
    background: transparent;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
}

.uploadPage > input
{
    display: none;
}

.container
{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    margin: 100px 200px;
    column-gap: 100px;
    row-gap: 100px;
}

.container > div
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 400px;
    transition: all 400ms;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.container > div:hover
{
    box-shadow: 0 0 30px #fafcff;
    background: #fafcff;
}


.container > div > span
{
    width: 75%;
    margin-bottom: 5px;
    text-align: center;
}

.container > div > div
{
    display: flex;
    justify-content: center;
    flex-direction: row;    
}

.container > div > div > span::before
{
    content: "Ãr: ";
}

.container > div > div > span
{
    width: 125px;
    white-space: nowrap;
}

.container > div > div > span::after
{
    content: " Ft";
}

.container > div > div > button
{
    width: 100px;
    border: 1.5px solid gray;
    border-radius: 4px;
    background: #d2e0f09f;
    transition: all 200ms;
}

.container > div > div > button:hover
{
    background: #8faecd9f;
}

.container > div > img
{
    height: 80%;
    max-width: 75%;
    object-fit: contain;
}

.cartcont
{
    position: relative;
    border-collapse: collapse;
    left: 20%;
    width: 80%;
}

tr
{
    height: 100px;
    border-bottom: 1px black solid;
}

td
{
    width: 20%;
    text-align: center;
}

td > img
{
    height: 100px;
}

td > div
{
    display: flex;
    flex-direction: column;
}

td > div :first-child
{
    font-size: 25px;
}

tr > td:nth-child(3)
{
    width: 10%;
}

tr > td:nth-child(4)::after
{
    content: " db";
}

tr > td:nth-child(5)
{
    width: 0;
}

tr > td:nth-child(5)::after
{
    content: " Ft";
}

td > button
{
    background: none;
    border: none;
    margin-right: 15%;
    padding: 10px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(138, 14, 14);
}

td > button:hover
{
    color: rgb(226, 2, 2);
}

.cartsum
{
    position: absolute;
    width: 35%;
    min-width: 500px;
    height: 200px;
    right: 5%;
    margin-top: 30px;
    background: #ebf1f8ee;
}

.cartsum > :first-child
{
    height: 80px;
    background: #d8e1ec9f;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45%;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;    
}

.cartsum > :first-child > span:nth-child(2)
{
    text-align: right;
}

.cartsum > :first-child > span:nth-child(2)::after
{
    content: " Ft";
}

.cartsum > :last-child
{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartsum > :last-child > a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 45%;
    background: #d8e1ec9f;
    border: 2px solid gray;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    left: 120px;
    bottom: 10px;
    transition: all 200ms;
    user-select: none;
}

.cartsum > :last-child > a:hover
{
    background: #c6d3e29f;
    cursor: pointer;
}

.cartsum > :last-child > a:active
{
    background: #b2bdca9f;
}

.noitem
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
}

.noitem > span
{
    font-weight: 200;
}

.selectContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    position: relative;
    top: 10px;
}

select
{
    height: 30px;
    width: 130px;
    background: #b3c5da9f;
    border-radius: 5px;
    border: none;
    text-align: center;
    outline: none;
    font-family: "Inter", sans-serif;
}

.searchBarContainer
{
    position: relative;
    display: flex;
    justify-content: center;
}

.searchBarContainer > div
{
    height: 200px;
    width: 60%;
    background: #b3c5da9f;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.searchBarContainer > div > h1
{
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 40px;
}

.searchBarContainer > div > input
{
    width: 50%;
    height: 20px;
    padding: 10px 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    border: 1.5px rgb(156, 156, 156) solid;
    background: #fafcff;
    transition: box-shadow 250ms;
    outline: none;
}

.searchBarContainer > input:focus
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1300px)
{
    .menu
    {
        transform: translate(-100%, 0);
        background: #fafcff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
    }

    .menuToggle
    {
        display: block;
    }
    
    .menuToggle input
    {
      display: block;
    }

    .menuToggle span
    {
        display: block;
    }

    .container
    {
        margin: 100px 50px;
    }
}