<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap">
    <link rel="stylesheet" href="/css/cut.css">
    <link rel="stylesheet" href="/css/roulette.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>Roulette</title>
</head>
<body class="back">
  <div class="gridcont">
    <div class="item item-2">
      <!-- Bootstrap -->
      <div class="btn-group">
        <button
          class="ddbtn cont"
          type="button"
          data-bs-toggle="dropdown"
          data-bs-auto-close="outside"
          aria-expanded="false"
        >
          <img src="/img/userAvatar.png" alt="" />
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li class="accountdetail">
            <img src="/img/userAvatar.png" alt="" />
            <div>
              <span></span>
              <span></span>
            </div>
          </li>
          <li><hr class="dropdown-divider"/></li>
          <li>
            <span class="dropdown-item"
              ><i class="fa-solid fa-right-from-bracket fa-rotate-180"></i><a onclick="logout()">Kijelentkezés</a></span
            >
          </li>
          <li>
            <div class="dropstart dropdown-item">
              <button
                class="ddbtn"
                type="button"
                data-bs-toggle="dropdown"
                data-bs-offset="0, 9"
                aria-expanded="false"
              >
                <i class="fa-solid fa-cloud-moon"></i
                ><a style="color: var(--bs-dropdown-link-color)">Téma</a>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                  <span class="dropdown-item s1"
                    ><i class="fa-solid fa-cloud-moon"></i><a>Sötét</a
                    ><i class="fa-solid fa-check"></i
                  ></span>
                </li>
                <li>
                  <span class="dropdown-item s1"
                    ><i class="fa-solid fa-sun"></i><a>Világos</a></span
                  >
                </li>
                <li>
                  <span class="dropdown-item s1"
                    ><i class="fa-solid fa-gears"></i><a>Auto</a></span
                  >
                </li>
              </ul>
            </div>
          </li>
          <li>
            <span class="dropdown-item"
              ><i class="fa-solid fa-dollar-sign"></i
              ><a id="dropdownCurrency" onclick="location.href = '/currencyUpload'"></a></span
            >
          </li>
        </ul>
      </div>
    </div>
        
    <div class="appcont">
      <div class="app">
          <h1 id="result" ></h1>
          <img class="marker" src="/img/roulette/marker.png" />  <span id="result" ></span>
          <img style="margin-top:5px" class="wheel" src="/img/roulette/whel.png" />
          <button class="opn openPopup">Pörgetés</button>
      </div>
      <section>

        <div class="popup-outer none">
          <div class="popup-box">
            <i class="fa-solid fa-xmark close"></i>
            <img class="cursortrack" src="/img/roulette/roulette-betting-table.png" alt="">
            <input type="number" onkeydown="return event.keyCode !== 69 && event.keyCode !== 190">
            <div>
              <img src="/img/roulette/casinochip.png" alt="">
              <span></span>
            </div>
            
            <button class="button" disabled>Pörgetés</button>
          </div>
        </div>
        
      </section>

      
    </div>
    
  </div>
</body>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://kit.fontawesome.com/f359bbbf40.js"
    crossorigin="anonymous"
></script>
<script>
    (function() {

    const section = document.querySelector("section")
    let isMouseOver = false

    document.querySelector(".popup-box").addEventListener(
      "mouseleave",
      () => {
        isMouseOver = false
      },
      false
    )
    
    
    document.querySelector('input').addEventListener('keydown', (e) =>
    {
      if(!isNaN(e.key))
      {
        document.querySelector('.popup-box').querySelector('div').children[1].innerHTML = document.querySelector('input').value+e.key
      }
      else if (e.key == "Backspace") document.querySelector('.popup-box').querySelector('div').children[1].innerHTML = document.querySelector('input').value.substring(0, document.querySelector('input').value.length-1)
      
    })

    window.onresize = () => 
    {
      document.querySelectorAll('.chip').forEach(e => e.remove())
    }

    var dict = {};
    document.querySelector('.cursortrack').addEventListener("click", event => {
      var absX = event.clientX
      var absY = event.clientY

      var div = document.createElement('div')
      div.classList.add('chip')
      var img = document.createElement('img')
      img.src = "/img/roulette/casinochip.png"
      div.appendChild(img)
      div.addEventListener('click', () => div.remove())
     
      document.querySelector('body').appendChild(div)
      var cursorX = absX-(window.innerWidth-document.querySelector('.popup-box > img').clientWidth)/2+258
      var cursorY = absY-(window.innerHeight-document.querySelector('.popup-box > img').clientHeight)/2

      console.log(absX)

      div.style.left = absX*1 - 35  + 'px'
      div.style.top =  absY*1 - 35 + 'px'

      if (cursorY > -60 && cursorY < 26)
      {
        if (cursorX > 382 && cursorX < 445)
        {
          dict["3 RED"] = document.querySelector('input').value
        }
        if (cursorX > 446 && cursorX < 507)
        {
          dict["6 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 508 && cursorX < 570)
        {
          dict["9 RED"] = document.querySelector('input').value
        }
        if (cursorX > 570 && cursorX < 633)
        {
          dict["12 RED"] = document.querySelector('input').value
        }
        if (cursorX > 633 && cursorX < 697)
        {
          dict["15 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 697 && cursorX < 759)
        {
          dict["18 RED"] = document.querySelector('input').value
        }
        if (cursorX > 759 && cursorX < 822)
        {
          dict["21 RED"] = document.querySelector('input').value
        }
        if (cursorX > 822 && cursorX < 885)
        {
          dict["24 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 885 && cursorX < 949)
        {
          dict["27 RED"] = document.querySelector('input').value
        }
        if (cursorX > 949 && cursorX < 1011)
        {
          dict["30 RED"] = document.querySelector('input').value
        }
        if (cursorX > 1011 && cursorX < 1074)
        {
          dict["33 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 1074 && cursorX < 1137)
        {
          dict["36 RED"] = document.querySelector('input').value
        }
        if (cursorX > 1137 && cursorX < 1202)
        {
          dict["mod 0"] = document.querySelector('input').value
        }
      }
      else if (cursorY > 26 && cursorY < 110)
      {
        if (cursorX > 382 && cursorX < 445)
        {
          dict["2 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 446 && cursorX < 507)
        {
          dict["5 RED"] = document.querySelector('input').value
        }
        if (cursorX > 508 && cursorX < 570)
        {
          dict["8 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 570 && cursorX < 633)
        {
          dict["11 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 633 && cursorX < 697)
        {
          dict["14 RED"] = document.querySelector('input').value
        }
        if (cursorX > 697 && cursorX < 759)
        {
          dict["17 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 759 && cursorX < 822)
        {
          dict["20 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 822 && cursorX < 885)
        {
          dict["23 RED"] = document.querySelector('input').value
        }
        if (cursorX > 885 && cursorX < 949)
        {
          dict["26 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 949 && cursorX < 1011)
        {
          dict["29 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 1011 && cursorX < 1074)
        {
          dict["32 RED"] = document.querySelector('input').value
        }
        if (cursorX > 1074 && cursorX < 1137)
        {
          dict["35 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 1137 && cursorX < 1202)
        {
          dict["mod 1"] = document.querySelector('input').value
        }
      }
      else if (cursorY > 110 && cursorY < 195)
      {
        if (cursorX > 382 && cursorX < 445)
        {
          dict["1 RED"] = document.querySelector('input').value
        }
        if (cursorX > 446 && cursorX < 507)
        {
          dict["4 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 508 && cursorX < 570)
        {
          dict["7 RED"] = document.querySelector('input').value
        }
        if (cursorX > 570 && cursorX < 633)
        {
          dict["10 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 633 && cursorX < 697)
        {
          dict["13 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 697 && cursorX < 759)
        {
          dict["16 RED"] = document.querySelector('input').value
        }
        if (cursorX > 759 && cursorX < 822)
        {
          dict["19 RED"] = document.querySelector('input').value
        }
        if (cursorX > 822 && cursorX < 885)
        {
          dict["22 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 885 && cursorX < 949)
        {
          dict["25 RED"] = document.querySelector('input').value
        }
        if (cursorX > 949 && cursorX < 1011)
        {
          dict["28 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 1011 && cursorX < 1074)
        {
          dict["31 BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 1074 && cursorX < 1137)
        {
          dict["34 RED"] = document.querySelector('input').value
        }
        if (cursorX > 1137 && cursorX < 1202)
        {
          dict["mod 2"] = document.querySelector('input').value
        }
      }
      else if (cursorY > 195 && cursorY < 271)
      {
        if (cursorX > 382 && cursorX < 634)
        {
          dict["1st 12"] = document.querySelector('input').value
        }
        if (cursorX > 634 && cursorX < 885)
        {
          dict["2nd 12"] = document.querySelector('input').value
        }
        if (cursorX > 885 && cursorX < 1139)
        {
          dict["3rd 12"] = document.querySelector('input').value
        }
      }
      else if (cursorY > 271 && cursorY < 335)
      {
        if (cursorX > 382 && cursorX < 508)
        {
          dict["1 half"] = document.querySelector('input').value
        }
        if (cursorX > 508 && cursorX < 634)
        {
          dict["EVEN"] = document.querySelector('input').value
        }
        if (cursorX > 634 && cursorX < 759)
        {
          dict["RED"] = document.querySelector('input').value
        }
        if (cursorX > 759 && cursorX < 886)
        {
          dict["BLACK"] = document.querySelector('input').value
        }
        if (cursorX > 885 && cursorX < 1009)
        {
          dict["ODD"] = document.querySelector('input').value
        }
        if (cursorX > 1009 && cursorX < 1139)
        {
          dict["2 half"] = document.querySelector('input').value
        }
      }
      if (cursorY > -60 && cursorY < 190)
      {
        if (cursorX > 312 && cursorX < 380) dict["0 GREEN"] = document.querySelector('input').value
      }
    })

    document.querySelector(".popup-box").addEventListener(
      "mouseover",
      () => {
        isMouseOver = true
      },
      false
    )

    document.querySelector(".openPopup").addEventListener("click", () => {
      section.classList.add("show")
      startButton.disabled = false
    })

    document.querySelector(".close").addEventListener("click", () => {
      section.classList.remove("show")
      document.querySelectorAll('.chip').forEach(e => e.remove())
startButton.disabled = true

    })

    document.querySelector('.popup-outer').addEventListener("click", del)

    function del() {
      if (!isMouseOver)
      {
        section.classList.remove("show")
        document.querySelectorAll('.chip').forEach(e => e.remove())
        startButton.disabled = true
      }
    }

      if (
      sessionStorage.getItem("username") != "" &&
      sessionStorage.getItem("username") != null
    ) {
      document.querySelector(
        ".accountdetail"
      ).children[1].children[0].innerHTML = sessionStorage.getItem("username")
      document.querySelector(
        ".accountdetail"
      ).children[1].children[1].innerHTML =
        "@" + sessionStorage.getItem("emailadress").split("@")[0]
    } else {
      location.href = "/"
    }
    
    var currency = document.querySelector(".currency")
    var bet = document.querySelector(".bet")
    const doors = document.querySelectorAll(".door")
    document.querySelector("#dropdownCurrency").innerHTML =  sessionStorage.getItem("currency")

      const wheel = document.querySelector('.wheel')
      const startButton = document.querySelector('.button')
      const back= document.querySelector('.back')
      let deg = 0
    
      
      startButton.addEventListener('click', () => {
        section.classList.remove("show")
        document.querySelectorAll('.chip').forEach(e => e.remove())
        startButton.disabled = true
        
        start()
      })

      function start(){
        
        startButton.style.pointerEvents = 'none'
        
        deg = Math.floor(5000 + Math.random() * 5000)
        wheel.style.transition = 'all 10s ease'
        
      
        wheel.style.transform = `rotate(${deg}deg)`
      
        wheel.classList.add('blur')
      }

      wheel.addEventListener('transitionend', () => {
       
        wheel.classList.remove('blur')
        
        startButton.style.pointerEvents = 'auto'
        wheel.style.transition = 'none'
        const actualDeg = deg % 360
        wheel.style.transform = `rotate(${actualDeg}deg)`
        
        
        var result = ""
        
        
        if (actualDeg>=0 && actualDeg<10 ){
          result="26 BLACK"
        }
        if (actualDeg>=10 && actualDeg<20 ){
          result="3 RED"
        }
        if (actualDeg>=20 && actualDeg<30 ){
          result="35 BLACK"
        }
        if (actualDeg>=30 && actualDeg<39 ){
          result="12 RED"
        }
        if (actualDeg>=39 && actualDeg<49 ){
          result="28 BLACK"
        }
        if (actualDeg>=49 && actualDeg<59 ){
          result="7 RED"
        }
        if (actualDeg>=59 && actualDeg<69 ){
          result="29 BLACK"
        }
        if (actualDeg>=69 && actualDeg<78 ){
          result="18 RED"
        }
        if (actualDeg>=78 && actualDeg<88 ){
          result="22 BLACK"
        }
        if (actualDeg>=88 && actualDeg<98 ){
          result="9 RED"
        }
        if (actualDeg>=98 && actualDeg<107 ){
          result="31 BLACK"
        }
        if (actualDeg>=107 && actualDeg<117 ){
              result="14 RED"
        }
        if (actualDeg>=117 && actualDeg<127 ){
          result="20 BLACK"
        }
        if (actualDeg>=127 && actualDeg<137 ){
              result="1 RED"
        }
        if (actualDeg>=137 && actualDeg<146 ){
          result="33 BLACK"
        }
        if (actualDeg>=146 && actualDeg<156 ){
          result="16 RED"
        }
        if (actualDeg>=156 && actualDeg<166 ){
          result="24 BLACK"
        }
        if (actualDeg>=166 && actualDeg<176 ){
          result="5 RED"
        }
        if (actualDeg>=176 && actualDeg<185 ){
          result="10 BLACK"
        }
        if (actualDeg>=185 && actualDeg<195 ){
          result="23 RED"
        }
        if (actualDeg>=195 && actualDeg<205 ){
          result="8 BLACK"
        }
        if (actualDeg>=205 && actualDeg<215 ){
          result="30 RED"
        }
        if (actualDeg>=215 && actualDeg<224 ){
          result="11 BLACK"
        }
        if (actualDeg>=224 && actualDeg<234 ){
              result="36 RED"
        }
        if (actualDeg>=234 && actualDeg<244 ){
          result="13 BLACK"
        }
        if (actualDeg>=244 && actualDeg<253 ){
              result="27 RED"
        }
        if (actualDeg>=253 && actualDeg<263 ){
          result="6 BLACK"
        }
        if (actualDeg>=263 && actualDeg<273 ){
              result="34 RED"
        }
        if (actualDeg>=273 && actualDeg<283 ){
          result="17 BLACK"
        }
        if (actualDeg>=283 && actualDeg<292 ){
              result="25 RED"
        }
        if (actualDeg>=292 && actualDeg<302 ){
          result="2 BLACK"
        }
        if (actualDeg>=302 && actualDeg<312 ){
              result="21 RED"
        }
        if (actualDeg>=312 && actualDeg<322 ){
          result="4 BLACK"
        }
        if (actualDeg>=322 && actualDeg<331 ){
              result="19 RED"
        }
        if (actualDeg>=331 && actualDeg<341 ){
          result="15 BLACK"
         }
        if (actualDeg>=341 && actualDeg<350 ){
              result="32 RED"
        }
        if (actualDeg>=350 && actualDeg<360 ){
          result="0 GREEN"
        }
    
        var reward = 0
        
        for (const [key, value] of Object.entries(dict)) {
          if (result == key)
          {
            reward += value*36
          }
          else if (key.split(' ')[1] == "12")
          {
            if (key[0] == "1")
            {
              for (let i = 1; i <= 12; i++) {
                if (result.split(' ')[0] == i)
                {
                  reward += value*3
                }
              }
            }
            if (key[0] == "2")
            {
              for (let i = 13; i <= 24; i++) {
                if (result.split(' ')[0] == i)
                {
                  reward += value*3
                }
              }
            }
            if (key[0] == "3")
            {
              for (let i = 24; i <= 36; i++) {
                if (result.split(' ')[0] == i)
                {
                  reward += value*3
                }
              }
            }
          }
          else if (key.split(' ')[0] == "mod")
          {
            if (key.split(' ')[1] == "0")
            {
              if (parseInt(result.split(' ')[0]) % 3 == 0)
              {
                reward += value*3
              }
            }
            if (key.split(' ')[1] == "1")
            {
              if (parseInt(result.split(' ')[0]) % 3 == 1)
              {
                reward += value*3
              }
            }
            if (key.split(' ')[1] == "2")
            {
              if (parseInt(result.split(' ')[0]) % 3 == 2)
              {
                reward += value*3
              }
            }
          }
          else if (key == "RED")
          {
            if (result.split(' ')[1] == key) reward += value*2
          }
          else if (key == "BLACK")
          {
            if (result.split(' ')[1] == key) reward += value*2
          }
          else if (key == "EVEN")
          {
            if (result.split(' ')[0] % 2 == 0) reward += value*2
          }
          else if (key == "ODD")
          {
            if (result.split(' ')[0] % 2 == 1) reward += value*2
          }
          else if (key.split(' ')[1] == "half")
          {
            if (key.split(' ')[0] == "1")
            {
              if (parseInt(result.split(' ')[0]) <= 18) reward += value*2
            }
            if (key.split(' ')[0] == "2")
            {
              if (parseInt(result.split(' ')[0]) > 18) reward += value*2
            }
          }
          else if (key.split(' ')[1] == "GREEN")
          {
            if (result.split(' ')[0] == "0") reward += value*35
          }
        }
        console.log(reward)
        dict = {}
      })
      
      document.querySelectorAll('.s1').forEach((e)=>e.addEventListener('click', ()=>
      {
        var r = document.querySelector(":root")
        // change where the check icon is
        document.querySelector(".fa-check").remove()
        var i = document.createElement("i")
        i.classList.add("fa-solid")
        i.classList.add("fa-check")
        e.appendChild(i)

        if (e.children[1].innerHTML == "Világos") {
          light()
        } else if (e.children[1].innerHTML == "Sötét") {
          dark()
        } else {
          if (
            window.matchMedia &&
            window.matchMedia("(prefers-color-scheme: dark)").matches
          ) {
            dark()
          } else if (window.matchMedia) {
            light()
          }
        }

        function dark() {
          r.style.setProperty("--bgcolor", "rgba(25, 31, 35, 1)")
          r.style.setProperty("--fontcolor", "white")
          r.style.setProperty("--dropdown-iconcolor", "#9d9d9d")
          r.style.setProperty("--hovercolor", "rgb(34, 41, 46)")
          document
            .querySelectorAll(".dropdown-menu")
            .forEach(e => e.classList.add("dropdown-menu-dark"))
        }

        function light() {
          r.style.setProperty("--bgcolor", "rgb(211, 211, 211)")
          r.style.setProperty("--fontcolor", "black")
          r.style.setProperty("--dropdown-iconcolor", "#5f5f5f")
          r.style.setProperty("--hovercolor", "rgb(192, 192, 192)")
          document
            .querySelectorAll(".dropdown-menu")
            .forEach(e => e.classList.remove("dropdown-menu-dark"))
        }
      }))
    })();
    </script>
</html>